h2.indiv {color: #000066;
	text-align: center}
h2.nick {color: #000066;
	text-align: center;
	font-size: medium;
	font-style: italic;}
h3 {color: #000066;
	text-align: center}
body {font: 12pt Georgia, Serif;
	background-image: url(https://sundstrom.us/backgrounds/wp3.gif) ;
	margin: 5px 20px}
pre {font-size: smaller;
	font-family: "Andale Mono", "Courier New", Monaco, "Lucida Sans Typewriter", monospace;
	color: #2E043A}
li.ul {list-style-type: disc;
	color: #000066}
tt {color: darkred}
A:link { color: #000066;
	background-color: transparent}
A:visited { color: #2D10E1;
	background-color: transparent}
A:active { color: #226C46;
	background-color: transparent}
b {color: #170B4E}